<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <meta http-equiv="refresh" content="0; url=https://allantavares.com.br/2018/05/01/open-source-my-open-source-contributions/">
    <link rel="canonical" href="https://allantavares.com.br/2018/05/01/open-source-my-open-source-contributions/" />
  </head>
  <body>
    <a href="https://allantavares.com.br/2018/05/01/open-source-my-open-source-contributions/">moved here</a>
  </body>
</html>
